<main>
    <header>
        <h1>To Do List</h1>
        <p>A place to store your to-dos</p>
    </header>
    
    <form>
        <input name='filterInput' id='filterInput' 
        [(ngModel)]='filterText'
        placeholder='Filter your to-dos'/>

        <!-- List all to-do tasks -->
        <app-task class='task-line' 
        *ngFor='let task of tasks | filter: filterText; let i = index' 
        [task]='task' [i]='i' 
        (removed)='removeTask($event)'></app-task>

        <!-- If no tasks in list, show this -->
        <div *ngIf='tasks.length===0'>
            <p id='empty-list-text'>Nothing to do!</p>
        </div>
        
        <input name='task' id='task' 
        [(ngModel)]='newTask'
        placeholder='Add your to-do'
        />

        <button class='submit' type='submit'
        (click)='addTask()'>Add</button>
    </form>
</main>
